/* settings */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
* a {
  color: inherit;
  text-decoration: none;
}

/* composants */
.loader {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: black;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: opacity_loader 3s ease-in;
  opacity: 0;
  visibility: hidden;
}
.loader .loader__logo {
  width: 50%;
  border-radius: 0;
}
.loader .loader__logo path {
  stroke: white;
  fill: white;
}
.loader .loader__logo rect {
  animation-duration: 2.5s;
  animation-name: color_logo;
}
@keyframes color_logo {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes opacity_loader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  84% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.bouton {
  position: relative;
  overflow: hidden;
  z-index: 0;
  display: inline-block;
  width: auto;
  padding: 12px 24px;
  border: none;
  border-radius: 24px;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  text-decoration: none;
  color: #ffffff;
  box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.bouton:hover {
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.3);
}
.bouton:hover .bouton__gradien-bg {
  opacity: 1;
}
.bouton .bouton__gradien-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: linear-gradient(0deg, #FF79DA 0%, #9356DC 100%);
  transition: opacity 0.3s ease-in-out;
}

.heart {
  width: 24px;
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 12px;
}
.heart i {
  position: absolute;
  font-size: 24px;
}
.heart i.fa-solid {
  opacity: 0;
  background: linear-gradient(0deg, #FF79DA 0%, #9356DC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 0.3s ease-in-out;
}
.heart i.fa-solid:hover {
  opacity: 1;
}

header.index div {
  padding: 12px;
  text-align: center;
}
header.index .header__logo img {
  max-width: 50%;
}
header.index .header__logo img:hover {
  cursor: pointer;
}
header.index .header__location {
  background-color: #eaeaea;
  box-shadow: inset 0px 10px 10px -8px rgba(0, 0, 0, 0.5);
}
header.index .header__intro {
  padding: 48px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  gap: 24px;
}

header.restaurant .header__logo {
  background-color: white;
  position: relative;
  padding: 12px;
  text-align: center;
}
header.restaurant .header__logo .header__back {
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.25rem;
}
header.restaurant .header__logo img {
  max-width: 50%;
}
header.restaurant .header__logo img:hover {
  cursor: pointer;
}
header.restaurant .header__background {
  width: 100%;
}
@media (min-width: 740px) {
  header.restaurant .header__background {
    height: 400px;
    object-fit: cover;
    object-position: center 60%;
  }
}

footer {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: #353535;
  color: #ffffff;
  gap: 10px;
}
footer a:hover {
  text-decoration: underline;
}
@media (min-width: 740px) {
  footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
footer .footer__logo {
  font-family: "Shrikhand", cursive;
  margin-bottom: 6px;
  font-size: 1.125rem;
}
@media (min-width: 740px) {
  footer .footer__logo {
    width: 100%;
    text-align: center;
  }
}

/* pages */
h1 {
  font-weight: 900;
}

#fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 48px 24px;
  gap: 24px;
}
@media (min-width: 740px) {
  #fonctionnement {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }
}
#fonctionnement h2 {
  margin-bottom: 12px;
  align-self: center;
  font-weight: 800;
}
@media (min-width: 740px) {
  #fonctionnement h2 {
    margin-bottom: 0;
    width: 100%;
  }
}
@media (min-width: 980px) {
  #fonctionnement h2 {
    width: auto;
  }
}
#fonctionnement .step {
  position: relative;
  flex: 1 1 0;
  display: inline-flex;
  align-items: center;
  background-color: #f6f6f6;
  padding: 24px;
  border-radius: 20px;
  margin-left: 12px;
  font-weight: 900;
  box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}
#fonctionnement .step:hover {
  cursor: pointer;
  transform: scale(1.01);
}
#fonctionnement .step .step__number {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #9356DC;
  color: #ffffff;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
#fonctionnement .step i {
  color: #7e7e7e;
  width: 36px;
  transition: color 0.3s ease-in-out;
}
#fonctionnement .step i.step__icon::before {
  font-family: "FontAwesome";
  font-style: normal;
  content: "\f3cd";
}
@media (min-width: 980px) {
  #fonctionnement .step i.step__icon::before {
    content: "\f390";
  }
}
#fonctionnement .step:hover {
  background-color: #f5edff;
  cursor: pointer;
}
#fonctionnement .step:hover i {
  color: #9356DC;
}

#restaurants {
  background-color: #f6f6f6;
  padding: 48px 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (min-width: 740px) {
  #restaurants {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
#restaurants h2 {
  font-weight: 800;
}
@media (min-width: 740px) {
  #restaurants h2 {
    width: 100%;
    flex: none;
  }
}
#restaurants .card {
  position: relative;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}
#restaurants .card:hover {
  cursor: pointer;
  transform: scale(1.01);
}
@media (min-width: 740px) {
  #restaurants .card {
    flex: 1 1 45%;
  }
}
@media (min-width: 980px) {
  #restaurants .card {
    flex: 1 1 20%;
  }
}
#restaurants .card .card__new {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: #99E2D0;
  color: #008766;
  padding: 6px 12px;
  border-radius: 2px;
  font-weight: 600;
  box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.1);
}
#restaurants .card .card__image {
  width: 100%;
  height: 165px;
  object-fit: cover;
  object-position: bottom;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#restaurants .card .card__image:nth-child(2) {
  object-position: 50% 61%;
}
#restaurants .card .card__wrapper {
  flex: 1 1 0;
  padding: 12px;
  display: flex;
  justify-content: space-between;
}
#restaurants .card .card__wrapper__infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body.restaurant {
  background-color: #353535;
}

h1.restaurant {
  font-family: "Shrikhand", cursive;
  font-weight: inherit;
  flex: 1 1 0;
}

.main {
  position: relative;
  z-index: 1;
  background-color: #f6f6f6;
  padding: 32px 24px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (min-width: 1300px) {
  .main {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.main .main__restaurant-name {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 1.25rem;
}
.main .main__restaurant__order-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 24px 0;
  opacity: 0;
  animation: show_card 1s ease-in-out 0.6s forwards;
}
.main section {
  display: flex;
  gap: 12px;
  flex-direction: column;
}
@media (min-width: 1300px) {
  .main section {
    flex: 1 1 30%;
  }
}
.main section .section__title {
  text-transform: uppercase;
}
.main section .section__title hr {
  margin-top: 4px;
  border: 1px solid #99E2D0;
  width: 40px;
}
.main section .card {
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  opacity: 0;
  animation: show_card 1s ease-in-out 0s forwards;
}
.main section .card:hover {
  transform: scale(1.01);
  cursor: pointer;
}
.main section .card:hover .card__validate {
  width: 60px;
}
.main section .card:hover .card__validate i {
  animation: Rotate_I 0.4s ease 0s 1 normal forwards;
}
.main section .card:nth-child(3) {
  animation-delay: 0.2s;
}
.main section .card:nth-child(4) {
  animation-delay: 0.4s;
}
.main section .card:nth-child(5) {
  animation-delay: 0.6s;
}
@keyframes show_card {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.main section .card .card__info {
  padding: 12px;
  flex: 1 1 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main section .card .card__info h3 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.main section .card .card__prix {
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  padding: 12px;
}
.main section .card .card__validate {
  background-color: #99E2D0;
  font-size: 1.25rem;
  color: #ffffff;
  overflow: hidden;
  width: 0px;
  transition: width 0.3s linear;
}
.main section .card .card__validate i {
  display: flex;
  width: 60px;
  height: 100%;
  justify-content: center;
  align-items: center;
}
@keyframes Rotate_I {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=app.css.map */
