///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    a {
        color: inherit;
        text-decoration: none;
    }
}

$space-tiny: 6px;
$space-small: 12px;
$space: 24px;
$space-tall: 36px;
$space-large: 48px;
$space-huge: 96px;