///* ========================================================================
//   #COLORS
//   ======================================================================== */
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-secondary-light: #f5edff;
$color-tertiary: #99E2D0;
$color-tertiary-dark: #008766;
$color-grey: #eaeaea;
$color-grey-light: #f6f6f6;
$color-grey-dark: #353535;
$color-grey-dark-light: #7e7e7e;
$color-white: #ffffff;