///* ========================================================================
//   #FONTS
//   ======================================================================== */
$font-HUGE: 2.25rem;
$font-Huge: 2rem;
$font-huge: 1.75rem; //28
$font-LARGE: 1.5rem; //24
$font-Large: 1.25rem; //20
$font-large: 1.125rem; //18
$font-normal: 1rem; //16
$font-small: 0.875rem; //14
$font-Small: 0.8125rem; //13
$font-SMALL: 0.625rem; //10